@charset "UTF-8";

@font-face {
    font-family: "Passion One";
    src: url("../fontes/PassionOne-Regular.ttf") format("truetype"); 
}

@font-face {
    font-family: "Sriracha";
    src: url("../fontes/Sriracha-Regular.ttf") format("truetype");
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
}

header > h1 {
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps; /* Usado para adicionar CAPSLOCK, mantendo as principais maiores */
    
    /* text-transform: uppercase; Usada para adicionar CAPSLOCK ao texto */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section p {
    padding-bottom: 2em;

}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.664);
    background-attachment: fixed;
}

section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
}


section#img02 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}