@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left,#A68863 1%, #8F9BA6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2e1a1486;
    width: 600px;
    padding: 10%;
    margin: auto;
}

h1{
    color: #401D10;
    text-align: center;
    box-shadow: 1px 2px 3px #401D10;
    text-shadow: 2px 2px 2px #b3a7a4;
}

h2{
    color: #26261C;
}

p {
    text-align: justify;
    box-shadow: 2px 2px 10px;
    padding: 1%;
}