@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 1000px;
    border-collapse: collapse;
}

th {
    background-color: rgb(227, 239, 241);
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

.uniccolor {
    background-color: rgb(227, 239, 241);
    font-weight: bolder;
}

.conteudo {
    line-height: 2em;
    color: rgba(0, 0, 0, 0.747);
}